<div class="movie-list">
  <div class="movie-list__card-container">
    @if (movies.length>0) { @for (item of movies; track item.id) {
    <app-movie-card
      class="movie-card"
      [data]="item"
      (addFavorite)="handleAddToFavorite(item)"
      (addWatchList)="handleAddToWatchList(item)"
    >
    </app-movie-card>
    } }
  </div>
  @if (favoriteMovies.length > 0 || watchListMovies.length > 0) {
  <div class="movie-list__select-block block-select">
    <div class="block-select__favorite-list">
      @if (favoriteMovies.length>0) { @for (item of favoriteMovies; track
      item.id) {
      <app-movie-card
        class="movie-card"
        [data]="item"
        (addFavorite)="handleAddToFavorite(item)"
        (addWatchList)="handleAddToWatchList(item)"
      >
      </app-movie-card>
      } }
    </div>
    <div class="block-select__watch-list">
      @if (watchListMovies.length>0) { @for (item of watchListMovies; track
      item.id) {
      <app-movie-card
        class="movie-card"
        [data]="item"
        (addFavorite)="handleAddToFavorite(item)"
        (addWatchList)="handleAddToWatchList(item)"
      >
      </app-movie-card>
      } }
    </div>
  </div>
  }
</div>
