<h3 class="main-title">Details movie</h3>
<div class="details-page">
  <div class="details-page__body">
    <div class="details-page__main">
      <div class="details-page__image">
        <img [src]="movie.poster_path" alt="poster" />
      </div>
    </div>
    <div class="details-page__content">
      <h2 class="details-page__title">
        {{ movie.title }}
      </h2>
      <div class="details-page__popularity">
        Popularity: {{ movie.popularity }}
      </div>
      <div class="details-page__release-date">
        Release date: {{ movie.release_date }}
      </div>
      <div class="details-page__vote-average">
        Average: {{ movie.vote_average }}
      </div>
      <div class="details-page__vote-count">Votes: {{ movie.vote_count }}</div>
      <div class="details-page__original-language">
        Original language:
        {{ movie.original_language }}
      </div>
    </div>
  </div>
  <div class="details-page__overview">{{ movie.overview }}</div>
</div>
