<div class="sidebar__header">
  <div class="sidebar__logo">
    <img src="../../../assets/img/logo.jpeg" alt="app-logo" />
  </div>
  <h3 class="sidebar__title">My super app</h3>
</div>
<ul class="sidebar__menu-list menu">
  <li class="menu__item">
    <a routerLink="popular" routerLinkActive="sidebar__active-link">Popular</a>
  </li>
  <li class="menu__item">
    <a routerLink="now-plaing" routerLinkActive="sidebar__active-link"
      >Now Plaing</a
    >
  </li>
  <li class="menu__item">
    <a routerLink="top-rate" routerLinkActive="sidebar__active-link"
      >Top Rate</a
    >
  </li>
  <li class="menu__item">
    <a routerLink="upcoming" routerLinkActive="sidebar__active-link"
      >Upcoming</a
    >
  </li>
</ul>
