@use "sass:math";
@import "../../../assets/scss/functions.scss";
// ==================================== //
h2 {
   font-size: toRem(50);
   margin: toRem(20) 0 toRem(20) 0;
   text-align: center;
}
:host {
   display: flex;
   flex-direction: column;
}
.watch-list-container {
   display: flex;
   gap: toRem(10);
   flex-wrap: wrap;
   padding: toRem(10);
   border-radius: toRem(5);
   justify-content: center;
}
