@use "sass:math";
@import "../assets/scss/functions.scss";
// ==================================== //
main {
   display: flex;
   justify-content: space-between;
   gap: toRem(5);
}
.project-body {
   border: toRem(1) solid rgb(255, 255, 255);
   border-radius: toRem(3);
   width: 90vw;
}
