<a [routerLink]="['/movie', movie.id]"
  ><img [src]="data?.poster_path" alt="image poster" class="movie-card__image"
/></a>
<div class="movie-card__details">
  <h2
    class="movie-card__title"
    [ngClass]="{
      'movie-card__title--large-title': titleSpan.offsetWidth > 240
    }"
  >
    <span #titleSpan>{{ data?.title }}</span>
  </h2>
  <p class="movie-card__rating">Average: {{ data?.vote_average }}</p>
  <p class="movie-card__relise">
    Release date: {{ data?.release_date | dateFormat }}
  </p>
</div>
<div class="movie-card__buttons">
  @if(!isFavoritePage){
  <button (click)="addToFavorites(movie)" title="Add to favorites">
    <img src="../../../assets/img/like.svg" alt="#" />
  </button>
  } @else {
  <button (click)="removeFavorite(movie)" title="Remove from favorites">
    <img src="../../../assets/img/cross.svg" alt="#" />
  </button>
  } @if(!isWatchListPage){
  <button (click)="addToWatchList(movie)" title="Add to watch list">
    <img src="../../../assets/img/plus.svg" alt="#" />
  </button>
  } @else {
  <button (click)="removeWatchList(movie)" title="Remove from watch list">
    <img src="../../../assets/img/cross.svg" alt="#" />
  </button>
  }
</div>
